# **Machine Leaning**
## *Lab Session 2*

In [1]:
import pandas as pd
import numpy as np
import statistics
import seaborn as sns
import matplotlib.pyplot as plt

#### A1. Please refer to the “Purchase Data” worksheet of Lab Session Data.xlsx. Please load the data and segregate them into 2 matrices A & C (following the nomenclature of AX = C). Do the following activities.

1. What is the dimensionality of the vector space for this data?
2. How many vectors exist in this vector space?
3. What is the rank of Matrix A?
4. Using Pseudo-Inverse find the cost of each product available for sale.

In [54]:
data = pd.read_excel("../questions/lab_2_data.xlsx", sheet_name=0)
data = data.dropna(axis = 1) # dropping all the columsn with NaN
data

  Customer  Candies (#)  Mangoes (Kg)  Milk Packets (#)  Payment (Rs)
0      C_1           20             6                 2           386
1      C_2           16             3                 6           289
2      C_3           27             6                 2           393
3      C_4           19             1                 2           110
4      C_5           24             4                 2           280
5      C_6           22             1                 5           167
6      C_7           15             4                 2           271
7      C_8           18             4                 2           274
8      C_9           21             1                 4           148
9     C_10           16             2                 4           198

In [56]:
A = data.iloc[:, 1:-1].values # A = all the columns except first and last one
C = data.iloc[:,-1].values.reshape(-1,1) # taking only the last column

dimensionality = A.shape[1]
num_of_vectors = A.shape[0]
rank_A = np.linalg.matrix_rank(A)
cost_of_each = np.linalg.pinv(A) @ C

In [67]:
print("Dimensionality : ", dimensionality, "\n",
        "Number of Vectors : ", num_of_vectors, "\n",
        "Matrix Rank : ", rank_A, "\n",
        "Cost of Candy : ", cost_of_each[0].item(), "\n",
        "Cost of Mango : ", cost_of_each[1].item(), "\n",
        "Cost of Milk : ", cost_of_each[2].item(), "\n",
     )

Dimensionality :  3
 Number of Vectors :  10
 Matrix Rank :  3
 Cost of Candy :  1.0000000000000027
 Cost of Mango :  55.0
 Cost of Milk :  17.99999999999999

In [66]:
type(cost_of_each)

numpy.ndarray